// src/style.scss
:root {
  --color-bg: #dadada;
  --color-text: #000000;
  --color-accent: #ff4c4c;
  --color-primary: #007acc;
  --font-main: 'Work Sans', sans-serif;
  --font-alt: 'Fira Code', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1, h2, h3 {
  font-weight: 700;
  color: var(--color-text);
  font-family: var(--font-alt);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  &:hover {
    color: var(--color-accent);
  }
}

.material-icons {
  vertical-align: middle;
  font-size: 1.2em;
}
.navbar {
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-accent);
  padding: 10px;
  font-family: var(--font-alt)
}